.calendar{
    position: relative;
    line-height: 10px;
    text-align: center;
	width: 650px;
	height:400px;
	background:#fff;
	box-shadow:0px 1px 1px rgba(0,0,0,0.1);
}
.title{
	text-align: center;
}

.pre{
    position:absolute;
    left: 35%;
    top: 140px;
    
}

.yearmonth{
	text-align: center;
	position: relative;
	top: 120px;
	font-size: 20px
}

.next{
    position:absolute;
    right: 35%;
    top: 140px;
}
.body{
	margin:0px auto;
}
.body-list ul{
	width:700px;
	display: flex;
	flex-wrap: wrap;
	font-family:arial;
	font-weight:bold;
	font-size:14px;
	margin:0px auto;
}
.body-list ul li{
	width:100px;
	height:50px;
	line-height:36px;
	list-style-type:none;
	display:block;
	box-sizing:border-box;
	float:center;
	text-align:center;
    position: relative;
    top: 160px;
	right: 15px;
}
.lightgrey{
	color:#a8a8a8; /*浅灰色*/
}
.darkgrey{
	color:#565656; /*深灰色*/
}
.green{
    position: relative;
    top: 5px;
	color:#6ac13c; /*绿色*/
}

.greenbox{
	border:1px solid #6ac13c;
	background:#e9f8df; /*浅绿色背景*/
}
.list{
	display: flex; flex-wrap: wrap;/*換行*/
	width: 700px;
	position:relative;
	top: 60px;
	margin:0px auto;
}
.list .date{
	width: 100px;height: 50px;
	text-align: center;
	margin:0px auto;
	position:relative;
	top: 130px;
}
.list .fadeout{
	opacity: 0.3;
}